.form .form-bal{
    width:530px; 
    margin:0px auto; 
    background-color:blue; 
    color:white; 
    border:solid black 5px;
}
.form .form-bal .form-bal-ebank{
    text-align:center; 
    width:510px; 
    background-color:orange; 
    color:black;padding:10px; 
    padding-top:5px; 
    font-size:xx-large;
}
.form .form-bal .ebank-lab{
    border:solid black 4px;
    border-left:0px; 
    border-right:0px; 
    padding:10px;
}
.form .form-bal .ebank-lab div label{
    width:250px; 
    display:block; 
    float:left;
}
.form .form-bal .ebank-lab div input{
    background-color:#CCCCCC;
    border:solid orange 2px;
    font-size:x-large;
}
.form .input-btn{
    border-top:solid black 2px; 
    text-align:center; 
    margin: 0px; 
    padding:10px; 
    background-color: orange;
}
.form .input-btn input{
    background-color:blue; color:white; border:solid black 4px;border:solid orange 2px;font-size:x-large;
}